.-navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 1rem;
    width: 100%;
}
@media (min-width: 992px)
.-navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.-bg {
    background-color: #7954F6!important;
}
.-prof_nm {
    position: relative;
    text-align: right;
}